{% include 'index.twig' %}
<table>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Position</th>
    <th>Email Address</th>
    <tr>
        <td>{{ firstname }}</td>
        <td>{{ lastname }}</td>
        <td>{{ position }}</td>
        <td>{{ email }}</td>
    </tr>
</table>

